:root{
    --main-color: #54BAB9; 
    --secondary-color: hsl(166, 37%, 72%);
    --white-color: #ffffff;
    --padding-top: 100px;
    --padding-bottom: 100px ;
    --padding-mobile: 50px;
}
/* Start Components */
.special-heading {
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 3px; 
    width: 100%;
    padding-bottom: var(--padding-bottom);
  }
  @media (max-width: 767px) {
    .special-heading {
      padding-bottom: var(--padding-mobile);
      }
    }
  .special-heading > p {
    font-size: 20px;
    text-align: center;
    color: #777777c2;
     font-weight: normal;
    letter-spacing: 1px;
   font-weight: bold;
  }
  @media (max-width: 767px) {
    .special-heading {
      font-size: 60px;
      }
    .special-heading + p {
      margin-top: -20px;
    }
  }
  /* End Components */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --wekit-box-sizing: border-box;
    --o-box-sizing: border-box;
    --ms-box-sizing: border-box;
    --moz-box-sizing: border-box;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
     margin-left: auto;
    
}
/* small */
@media (min-width: 768px) {
    .container{
        width: 720px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
header {
    position: absolute;
    z-index: 99;
    width: 100%;
}   
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-bottom: 2px solid var(--white-color);

}
@media (max-width: 545px) {
    header .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }
}
header .logo {
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white-color); 
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 761px) {
    header .logo {
        height: 40px;
    }
}
header nav i.fa-bars {
    margin: 15px;
    color: var(--white-color);
    font-size: 27px;
    display: flex;
    justify-items: flex-end;
 }
 
 header nav i.fa-bars:hover + ul  {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 250px;
    background-color: rgba(3, 3, 3, 20%);
 }

     @media (max-width: 991px) {
        header .container ul li  {
            padding-bottom: 20px;
            padding-top: 10px;
         }
    }


@media (max-width: 529px) , (min-width:992px){
    header nav i.fa-bars {
       display: none;
    }
}

header .container nav ul {
    display: flex;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 529px)  and (max-width: 991px) {
    header .container nav ul  {
       display: none;
    }
}
header .container nav ul li a {
font-size: 18px;
font-weight: bold;
padding:  15px;
text-transform: capitalize;
color: var(--white-color);
}
header .container nav li a:hover {
    color: var(--main-color);
    transition: 0.3s;
}
@media (max-width: 768px) {
    header .container nav ul li a {
        font-size: 14px;
        padding: 0 10px;
        max-width: 100%;
    }
    
}
header .icons i{
    margin: 15px;
    color: var(--white-color);
    font-size: 20px;
}
header .icons i:hover {
    color: var(--main-color);
    transition: 0.3s;
}
.landing {
    background-image: url(../images/landing.jpg);
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}
.landing::before { 
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.644);
    z-index: 3;
}
.landing .text {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50% ,-50%);
z-index: 88;
font-family: 'Merriweather', serif;
}
h1 {
font-size: 50px;
letter-spacing: 4px;
text-transform: uppercase;
color: white;
min-width: 200px;
}
.star {
font-size: 30px;
position: absolute;
color: var(--main-color);
left: 70px;
bottom: -15px;
}
.shape::before {
    content: "";
    background-color: var(--white-color);
    width: 100px;
    height: 2px;
    position: absolute;
    left: -30px;
   
}
.shape::after {
    content: "";
    background-color: var(--white-color);
    width: 100px;
    height: 2px;
    position: absolute;
    left: 105px;
}
.hotel {
font-size: 70px;
color: white;
text-transform: uppercase;
position: absolute;
bottom: -100px;
left: -35px;
font-weight: bold ;
}
.landing .change-background {
    position: absolute;
    color: var(--white-color);
    top: 50%;
    z-index: 99;
    font-size: 30px;
    transform: translatey(-50%);
}
.landing .change-background:hover {
    color: var(--main-color);
    transition: 0.3s;
}
.landing .fa-angle-right {
right: 60px;
}
.landing .fa-angle-left {
    left: 60px;
    }
    @media (max-width : 761px) {
        .landing .change-background {
            display: none;
        }
    }
    .landing .bullets {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
        bottom: 50px;
        display: flex;
        z-index: 77;
    }
    .landing .bullets li {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid var(--white-color);
        margin-right: 4px;
    color: transparent;
    }
    .landing .bullets .active {
        background-color: var(--main-color);
        border-color: var(--main-color);
    }
   
    .gallery  {
        display: flex;
    align-items: center;
  justify-content: center;
    }

   @media (max-width: 1000px) {
    .gallery div  {
        display: none;
    }
}
    .gallery div img {
        width: 150px;
        position: absolute;
        bottom: -45px;
        z-index: 88;
        border: 3px solid var(--white-color);
    }
.gallery .img-1 {
    left: 30px;
    position: absolute;
}
.gallery .img-2 {
    left: 300px;
    position: absolute;
}
.gallery .img-3 {
    right: 450px;
    position: absolute;
}
.gallery .img-4 {
 right: 180px;
 position: absolute;
}
.home{
    padding-top: var(--padding-top) ;
    
}
@media (max-width: 767px) {
    .home {
      padding-top: var(--padding-mobile);
      padding-bottom: var(--padding-mobile);
      }
    }
.home .container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #54BAB9;
    border-radius: 10px;
    padding: 10px;
}
.home img {
    width: 80%;
    height: 100%;
    border-radius: 6px;
    margin: 10px auto ;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    .home .container .text {
   width: 30%;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   line-height: 1.6;
    }
    @media (max-width : 517px) {
        .home .container {
    max-width: 90%;
        }
        .home .container img {
         width: 100%;
        }
        .home .container .text {
            width: 100%;
            height: 300px;
        }
    }  
    @media (max-width : 775px) {
        .home .container {
    width: 500px;
        }
        .home .container img {
            width: 100%;
           }
        .home .text {
            min-width: 100%;
            height: 300px;
         }
    }  
    @media (min-width : 780px) and (max-width : 1000px) {
        .home .container {
    width: 700px;
        }
        .home .container img {
            width: 90%;
           }
        .home .text {
            min-width: 50%;
            height: 300px;
         }
    }  
         
    .home h2{
        margin-bottom: 20px;
        font-size: 26px;
        text-transform: capitalize;
    }
    .home h2 span {
        color: var(--secondary-color);
    }
    .home h2 div  {
        font-size: 20px;
        color: var(--secondary-color);
    }
    @media (max-width : 781px) {
        .home .container{
            flex-direction: column;
            text-align: center;
            
        }
    }
    /* start main-gallery */
   
    /* .main-gallery .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
        gap: 10px;
        padding-bottom: var(--padding-bottom);
        }

      .main-gallery .container > img {
        text-align: center;
        max-width: 100%;
        height: 250px;
        object-fit: cover;
        cursor: pointer;
        filter: grayscale(60%);
        transition: .3s linear;
        border-radius: 10px;
      }
      .main-gallery .container img:hover{
        filter: grayscale(0);
                
      } */
      /* end main-galery */
      .main-gallery {
           padding-bottom: var(--padding-bottom);
           padding-top: var(--padding-top);
        
      }
      .main-gallery .container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
            gap: 10px;
            }
        .main-gallery .container .box {
            height: 450px;
            width: 400px;
            max-height: 100%;
            max-width: 100%;
            padding: 20px;
            border-radius: 10px;
            background-color: white;
            margin: auto;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        }
        .main-gallery .container img {
            max-width: 100%;
            width: 100%;
            height: 200px;
            border-radius: 10px;
        }
        .main-gallery .text {
            max-width: 100%;
            margin: 10px 0;
        }
        .main-gallery .text h3 {
            text-transform: capitalize;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .main-gallery .rate i {
            font-size: 14px;
            color: #FFAA4A;
        }
        .main-gallery .rate a {
            text-decoration: underline;
            color: black;
            font-size: 14px;
            font-weight: bold;
            margin-left: 10px;
            transition: 0.3s;
            cursor: pointer;
        } 
        .main-gallery p {
            color: #777777c2;
            margin: 10px 0;
            text-transform: capitalize;
        }
        .main-gallery .avariable-items {
            max-width: 100%;
        }
        .main-gallery .avariable-items  i {
            font-size: 18px;
            position: relative;
            left: 20%;
            margin-left: 10px;
            color: var(--main-color);
           
        }
        .main-gallery .avariable-items i span {
            font-size: 10px; 
            color: var(--main-color);
        }
        .main-gallery .foot {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .main-gallery .services {
           margin: 20px 0 ;
           display: flex;
           flex-direction: column;
           color: #777;
      
        }
        .main-gallery .services i {
            font-size: 14px;
            text-transform: capitalize;
            font-weight: bold;
            line-height: 1.6;
         }
         .main-gallery .services i span {
            font-size:  10px;
            font-weight: bold;
            margin-left: 5px;
            letter-spacing: 1px;
            
         }
         .main-gallery .book h4{
            margin: 10px auto;
            text-align: center;
            font-weight: bold;
         }
         .main-gallery .book button {
            background-color: var(--main-color);
            border: none;
            outline: none;
            padding: 10px ;
            width: 100px;
            color: white;
            font-size: 14px;
            font-weight: bold;
            border-radius: 6px;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
         }
/*start review  */

.review h2 {
    color: var(--main-color);
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.review .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 10px;
}
.review .container .box {
    /* width: 300px;
    height: 200px; */
    max-height: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
    .review .box .info {
        display: flex;
        align-items: center; 
        margin-bottom: 20px;
    }    
    .review .info .text {
        display: flex;
        flex-direction: column;
    }
    .review .info i {
      position: relative;
      right: -150px;
      margin-left: 5px;
      color: #777;
      transition: 0.3s;
    }
    .review .info i:hover {
        color: var(--main-color);
        font-size: 20px;
    }
.review img {
max-width: 100%;
margin-right: 10px;
width: 50px;
height: 50px;
border-radius: 50%;
}
.review .name {
text-transform: capitalize;
}
.review .info .city {
   color: #777;
   text-transform: capitalize;
   font-size: 14px;
}
.review p {
    font-size: 14px;
    max-width: 100%;
    height: 50px;
    overflow: auto;
    margin-bottom: 20px;
}
.review .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review .date-time {
font-size: 14px;
color: #777;
}
.review .rates {
    color: #FFAA4A;
    font-size: 14px;
}
/*end review  */

