:root{
    --main-color: #54BAB9; 
    --secondary-color: hsl(166, 37%, 72%);
    --white-color: #ffffff;
    --padding-top: 100px;
    --padding-bottom: 100px ;
    --padding-mobile-top: 50px;
    --padding-mobile-bottom: 50px ;
}
/* Start Components */
.special-heading {
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px; 
    padding-bottom: var(--padding-bottom);
    width: 100%;
    
  }
  .special-heading  p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
    font-weight: normal;
    letter-spacing: 1px;
   font-weight: bold;
  }
  @media (max-width: 767px) {
    .special-heading {
      font-size: 60px;
      }
    .special-heading + p {
      margin-top: -20px;
    }
    .special-heading {
        padding-bottom: 50px;
    }
  }
  /* End Components */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --wekit-box-sizing: border-box;
    --o-box-sizing: border-box;
    --ms-box-sizing: border-box;
    --moz-box-sizing: border-box;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
     margin-left: auto;
    
}
/* small */
@media (min-width: 768px) {
    .container{
        width: 720px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
header {
    position: absolute;
    z-index: 99;
    width: 100%;
}   
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-bottom: 2px solid var(--white-color);

}
@media (max-width: 545px) {
    header .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }
}
header .logo {
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white-color); 
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 761px) {
    header .logo {
        height: 40px;
    }
}
header nav i.fa-bars {
    margin: 15px;
    color: var(--white-color);
    font-size: 27px;
    display: flex;
    justify-items: flex-end;
 }
 
 header nav i.fa-bars:hover + ul  {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 250px;
    background-color: rgba(3, 3, 3, 10%);
 }

     @media (max-width: 991px) {
        header .container ul li  {
            padding-bottom: 20px;
            padding-top: 10px;
         }
    }


@media (max-width: 529px) , (min-width:992px){
    header nav i.fa-bars {
       display: none;
    }
}

header .container nav ul {
    display: flex;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 529px)  and (max-width: 991px) {
    header .container nav ul  {
       display: none;
    }
}
header .container nav ul li a {
font-size: 18px;
font-weight: bold;
padding:  15px;
text-transform: capitalize;
color: var(--white-color);
}
header .container nav li a:hover {
    color: var(--main-color);
    transition: 0.3s;
}
@media (max-width: 768px) {
    header .container nav ul li a {
        font-size: 14px;
        padding: 0 10px;
        max-width: 100%;
    }
    
}
header .icons i{
    margin: 15px;
    color: var(--white-color);
    font-size: 20px;
}
header .icons i:hover {
    color: var(--main-color);
    transition: 0.3s;
}
.landing {
    background-image: url(../images/landing.jpg);
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}
.landing::before { 
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.644);
    z-index: 3;
}
.landing .text {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50% ,-50%);
z-index: 88;
font-family: 'Merriweather', serif;
}
h1 {
font-size: 50px;
letter-spacing: 4px;
text-transform: uppercase;
color: white;
min-width: 200px;
}
.star {
font-size: 30px;
position: absolute;
color: var(--white-color);
left: 70px;
bottom: -15px;
}
.shape::before {
    content: "";
    background-color: var(--white-color);
    width: 100px;
    height: 2px;
    position: absolute;
    left: -30px;
   
}
.shape::after {
    content: "";
    background-color: var(--white-color);
    width: 100px;
    height: 2px;
    position: absolute;
    left: 105px;
}
.hotel {
font-size: 70px;
color: white;
text-transform: uppercase;
position: absolute;
bottom: -100px;
left: -35px;
font-weight: bold ;
}
.landing .change-background {
    position: absolute;
    color: var(--white-color);
    top: 50%;
    z-index: 99;
    font-size: 30px;
    transform: translatey(-50%);
}
.landing .change-background:hover {
    color: var(--main-color);
    transition: 0.3s;
}
.landing .fa-angle-right {
right: 60px;
}
.landing .fa-angle-left {
    left: 60px;
    }
    @media (max-width : 761px) {
        .landing .change-background {
            display: none;
        }
    }
    .landing .bullets {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
        bottom: 50px;
        display: flex;
        z-index: 77;
    }
    .landing .bullets li {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid var(--white-color);
        margin-right: 4px;
    color: transparent;
    }
    .landing .bullets .active {
        background-color: var(--main-color);
        border-color: var(--main-color);
    }
   
    .gallery  {
        display: flex;
    align-items: center;
  justify-content: center;
   }
   @media (max-width: 1000px) {
    .gallery div  {
        display: none;
    }
}
    .gallery div img {
        width: 150px;
        position: absolute;
        bottom: -45px;
        z-index: 88;
        border: 3px solid var(--white-color);
    }
.gallery .img-1 {
    left: 30px;
    position: absolute;
}
.gallery .img-2 {
    left: 300px;
    position: absolute;
}
.gallery .img-3 {
    right: 450px;
    position: absolute;
}
.gallery .img-4 {
 right: 180px;
 position: absolute;
}
.home{
    padding-top: var(--padding-top) ;
    padding-bottom: var(--padding-bottom) ;
}
@media (max-width: 767px) {
    .home {
      padding-top: var(--padding-mobile-top);
      }
    }

.home .container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #54BAB9;
    border-radius: 10px;
    padding-top: 10px ;
    padding-bottom: 10px;

}
.home img {
    width: 80%;
    height: 100%;
    border-radius: 6px;
    margin: 10px auto ;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    .home .container .text {
   width: 40%;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;

    }
    @media (max-width : 700px) {
        .home .container {
    width: 500px;
        }
        .home .container .text {
            height: 300px;
            width: 80%;
         }
    }  
    @media (max-width : 400px) {
        .home .container {
    width: 300px;
        }
        .home .container .text {
            height: 250px;
            width: 100%;
        }
    }         
    .home h2{
        margin-bottom: 20px;
        font-size: 26px;
        text-transform: capitalize;
    }
    .home h2 span {
        color: var(--secondary-color);
    }
    .home h2 div  {
        font-size: 20px;
        color: var(--secondary-color);
    }
    @media (max-width : 781px) {
        .home .container{
            flex-direction: column;
            text-align: center;
            
        }
    }
